.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.digitos {
    display: flex;
    flex-direction: row;
}

select {
    margin: 1rem;
}

button {
    margin: 2rem;
    
}